<div class="container col-sm-4">
  <h1>Open Claim</h1>
  <form [formGroup]="formData" (submit)="handleOnSubmit()">
    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Car Make" formControlName="carMake"/>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Car Model" formControlName="carModel"/>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Date of Incident" formControlName="dateOfIncident"/>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <textarea rows="3" matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput placeholder="At Fault License" formControlName="otherDriverLicense"/>
    </mat-form-field>

    <div mat-dialog-actions>
      <button [disabled]="formData.pristine" mat-raised-button type="submit" mat-button>Submit</button>
      <button mat-button mat-raised-button (click)="handleBack()">Back</button>
    </div>
  </form>

</div>

