<div class="container col-sm-4">
<form>
    <div class="form-group">
      <label for="CarMake">Car Make</label>
      <input type="carmake" class="form-control" id="carmake" aria-describedby="emailHelp" placeholder="Car Make">
    </div>
    <div class="form-group">
      <label for="CarModel">Car Model</label>
      <input type="password" class="form-control" id="CarModel" placeholder="Car Model">
    </div>
    <div class="form-group">
        <label for="PoliceReport">Police Report</label>
        <input type="password" class="form-control" id="PoliceReport" placeholder="Police Report">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

