<button class="btn btn-secondary" style="float: left;">
  <a name="Logout" (click)="handleLogout()">
    <img src="https://img.icons8.com/windows/32/000000/logout-rounded-left.png">
    Logout
  </a>
</button>

<br><br>
<h2>Welcome claim officer!</h2>
<div id="claimTable">
  <div class="container" *ngFor="let c of claims" style="margin-bottom: 1rem;">
    <div class="card text-center">
      <div class="card-header d-flex justify-content-between">
        <p>ID: {{c.claimId}}</p>
        <p>{{c.dateOfIncident}}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{c.description}}</p>
        <div class="d-flex justify-content-around">
          <p class="card-text">Car Model: {{c.carModel}}</p>
          <p class="card-text">Car Make: {{c.carMake}}</p>
          <p class="card-text">License: {{c.otherDriverLicense}}</p>
          <!-- <p class="card-text">Estimate: {{}}</p> -->
          <!-- <p class="card-text">Evaluation: {{}}</p> -->
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)='showInspectors(c)' class="btn btn-secondary">Assign</button>
          <button (click)='approve(c)' type="button" class="btn btn-secondary">Approve</button>
          <button (click)='decline(c)' type="button" class="btn btn-secondary">Decline</button>
          <button (click)='openDialog(c)' type="button" class="btn btn-secondary">Report</button>
        </div>
      </div>
      <div class="card-footer text-muted">
        Status: {{c.status}}
      </div>
    </div>
  </div>
</div>

<div id='inspectorTable' style="display:none">
  <table class="table table-striped table-hover">
    <tr>
      <th>Inspector First Name</th>
      <th>Inspector Last Name</th>
      <th>Select</th>
    </tr>
    <tr *ngFor="let u of users"><!--I'm not sure this works. Probably not-->
      <td>{{u.fname}}</td>
      <td>{{u.lname}}</td>
      <td><button (click)='assignInspector(u)'>Assign</button></td>
    </tr>
  </table>
  <br>
  <button class="btn btn-primary" (click)='hider()'>Return</button>
</div>
