<div mat-dialog-title>
  <div mat-dialog-content >
    <div class="card-header">
      Report {{data.report.reportId}} Details
    </div>
    <div class="card-body">
      <p class="card-text">{{data.report.evaluation}}</p>
      <p class="card-text">Inspect Officer: {{data.report.claimOfficer}}</p>
      <p class="card-text">Insured Email: {{data.report.insuredEmail}}</p>
      <p class="card-text">Insured Phone: {{data.report.insuredPhone}}</p>
      <a href="#" class="btn btn-primary">update</a>
    </div>
    <div class="card-footer text-muted">
      {{data.report.estimate}}
    </div>
  </div>
</div>
