<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of list">
    <td>{{user.userId}}</td>
    <td>{{user.fname}} {{user.lname}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td class="nav-item">
      <mat-slide-toggle (toggleChange)="handleAction(user.status)" [checked]="user.status === 'Active'?'checked':null">{{user.status}}</mat-slide-toggle>
    </td>
  </tr>
  </tbody>
</table>
