<body class="text-center" cz-shortcut-listen="true">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Welcome</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">About Us</a>
        <a class="nav-link" href="#">Contact Us</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Auto Insurance</h1>
    <p>Customers, Claim Officers and Inspect Officers can create an account and login to view reports and manage claims.</p>
    <mat-form-field>
      <mat-select [(ngModel)]="type" placeholder="Select User Type" (selectionChange)="handleSelectChange()">
        <mat-option *ngFor="let t of userCategories" [value]="t.value">
          {{t.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="user === 'admin'" class="example-container">
      <mat-form-field>
        <input [(ngModel)]="adminSecret" matInput placeholder="Secret">
      </mat-form-field>
      <br>
      <button (click)="handleAdminSubmit()" mat-raised-button type="submit" mat-button>Submit</button>
    </div>


    <div *ngIf="user === 'customer' || user === 'claim_officer' || user === 'inspect_officer'">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Login">
          <form>
            <mat-form-field style="width: 100%">
              <input type="text" [(ngModel)]="email" matInput placeholder="Email" name="email"/>
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <input type="text" [(ngModel)]="policyNo" matInput placeholder="Policy No" name="policyNo"/>
            </mat-form-field>

            <mat-form-field *ngIf="user === 'claim_officer' || user === 'inspect_officer'">
              <input type="text"  name="adminSecret" [(ngModel)]="adminSecret" matInput placeholder="Secret">
            </mat-form-field>

            <div mat-dialog-actions>
              <button (click)="handleUserLogin()" mat-raised-button type="submit" mat-button>Login</button>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Register">
          <form [formGroup]="formData" (submit)="handleUserRegister()">
            <mat-form-field style="width: 100%">
              <input type="text" matInput placeholder="Email" formControlName="email"/>
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <input type="text" matInput placeholder="First Name" formControlName="fname"/>
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <input type="text" matInput placeholder="Last Name" formControlName="lname"/>
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <textarea rows="3" matInput placeholder="Address" formControlName="address"></textarea>
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <input type="text" matInput placeholder="Phone" formControlName="phone"/>
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <input type="text" matInput placeholder="Policy No" formControlName="policyNo"/>
            </mat-form-field>

            <div mat-dialog-actions>
              <button [disabled]="formData.pristine" mat-raised-button type="submit" mat-button>Register</button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <!--<p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>-->
    </div>
  </footer>
</div>
</body>
