<button class="btn btn-secondary" style="float: left;">
  <a name="Logout" (click)="handleLogout()">
    <img src="https://img.icons8.com/windows/32/000000/logout-rounded-left.png">
    Logout
  </a>
</button>

<br><br>

<h2>Welcome inspector!</h2>
<div id=reportTable>
  <table>
    <tr>
      <th>Claim ID</th>
      <th>Policy Number</th>
      <th>Email</th>
      <th>Claim Officer</th>
      <th>View Claim</th>
    </tr>
    <tr *ngFor="let r of reports">
      <td>{{r.claimId}</td>
      <td>{{r.policyNo}}</td>
      <td>{{r.insuredEmail}}</td>
      <td>{{r.claimOfficer}}</td>
      <td><button (click)='showForm(r.claimId)'>View</button></td>
    </tr>
  </table>
</div>
<div id='reportForm' style='display: none'>
  <textarea rows='50' cols='100'></textarea><br>
  <input type='submit' value='Submit Report'>
</div>
